
@{
    ViewBag.Title = "about";
    Layout = "~/Shared/Tanitim_1.cshtml";
}

<div class="inner-banner">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="index.html">Home</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><span class="page-name">About</span></li>
        </ul><!-- /.breadcumb -->
        <h3>About</h3>
    </div><!-- /.thm-container -->
</div><!-- /.inner-banner -->

<section class="cta-style-two">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="img/cta-2-1.jpg" alt="Awesome Image" />
            </div><!-- /.col-md-6 -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="img/cta-2-2.jpg" alt="Awesome Image" />
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Let everyone know why we are the best.</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,.</p>
                <a href="#" class="cta-btn">Download Now</a>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->

    </div><!-- /.thm-container -->
</section><!-- /.cta-style-two -->

<section class="fun-fact-style-one bg-style-two">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fun-fact-style-one text-center">
                    <h3 class="counter">6870</h3>
                    <p>Businesses Choose <br /> Binmp App</p>
                </div><!-- /.single-fun-fact-style-one text-center -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fun-fact-style-one text-center">
                    <h3 class="counter">8755</h3>
                    <p>Hours Spend on <br /> Application</p>
                </div><!-- /.single-fun-fact-style-one text-center -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fun-fact-style-one text-center">
                    <h3 class="counter">230</h3>
                    <p>Mobile Application <br /> Launched</p>
                </div><!-- /.single-fun-fact-style-one text-center -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fun-fact-style-one text-center">
                    <h3 class="counter">4.8</h3>
                    <p>Positive Rating <br />by Users</p>
                </div><!-- /.single-fun-fact-style-one text-center -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.fun-fact-style-one -->

<section class="team-style-one">
    <div class="thm-container">
        <div class="title">
            <h3>Let’s meet our expert <br /> team members</h3>
        </div><!-- /.title -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-style-one">
                    <h3>Earleen Carbonella</h3>
                    <p>App Designer</p>
                    <div class="social">
                        <a href="#" class="fab fa-twitter"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-facebook-f"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-youtube"></a>
                    </div><!-- /.social -->
                    <img src="img/team-1-1.png" alt="Awesome Image" />
                </div><!-- /.single-team-style-one -->
            </div><!-- /.col-md-3 col-sm-6 col-xs-12 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-style-one">
                    <h3>Shirely Hawe</h3>
                    <p>App Designer</p>
                    <div class="social">
                        <a href="#" class="fab fa-twitter"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-facebook-f"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-youtube"></a>
                    </div><!-- /.social -->
                    <img src="img/team-1-2.png" alt="Awesome Image" />
                </div><!-- /.single-team-style-one -->
            </div><!-- /.col-md-3 col-sm-6 col-xs-12 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-style-one">
                    <h3>Trang Mosquera</h3>
                    <p>App Designer</p>
                    <div class="social">
                        <a href="#" class="fab fa-twitter"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-facebook-f"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-youtube"></a>
                    </div><!-- /.social -->
                    <img src="img/team-1-3.png" alt="Awesome Image" />
                </div><!-- /.single-team-style-one -->
            </div><!-- /.col-md-3 col-sm-6 col-xs-12 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-style-one">
                    <h3>Thaddeus Buchinski</h3>
                    <p>App Designer</p>
                    <div class="social">
                        <a href="#" class="fab fa-twitter"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-facebook-f"></a>
                        <!--
                        -->
                        <a href="#" class="fab fa-youtube"></a>
                    </div><!-- /.social -->
                    <img src="img/team-1-4.png" alt="Awesome Image" />
                </div><!-- /.single-team-style-one -->
            </div><!-- /.col-md-3 col-sm-6 col-xs-12 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.team-style-one -->

<section class="testimonials-style-one bg-style-two">
    <div class="thm-container">
        <div class="testimonials-style-one-carousel owl-theme owl-carousel">
            <div class="item">
                <div class="single-testimonial-style-one">
                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="img-box">
                                <img src="img/testi-1-1.png" alt="Awesome Image" />
                            </div><!-- /.img-box -->
                        </div><!-- /.col-md-5 -->
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <div class="testi-content">
                                <img src="img/testi-icon-1-1.png" alt="Awesome Image" />
                                <h3>Check what our users <br /> are saying.</h3>
                                <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch.</p>
                                <h4>Selina Lashway</h4>
                            </div><!-- /.testi-content -->
                        </div><!-- /.col-md-7 -->
                    </div><!-- /.row -->
                </div><!-- /.single-testimonial-style-one -->
            </div><!-- /.item -->
            <div class="item">
                <div class="single-testimonial-style-one">
                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="img-box">
                                <img src="img/testi-1-2.png" alt="Awesome Image" />
                            </div><!-- /.img-box -->
                        </div><!-- /.col-md-5 -->
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <div class="testi-content">
                                <img src="img/testi-icon-1-1.png" alt="Awesome Image" />
                                <h3>Check what our users <br /> are saying.</h3>
                                <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch.</p>
                                <h4>Selina Lashway</h4>
                            </div><!-- /.testi-content -->
                        </div><!-- /.col-md-7 -->
                    </div><!-- /.row -->
                </div><!-- /.single-testimonial-style-one -->
            </div><!-- /.item -->
            <div class="item">
                <div class="single-testimonial-style-one">
                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="img-box">
                                <img src="img/testi-1-3.png" alt="Awesome Image" />
                            </div><!-- /.img-box -->
                        </div><!-- /.col-md-5 -->
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <div class="testi-content">
                                <img src="img/testi-icon-1-1.png" alt="Awesome Image" />
                                <h3>Check what our users <br /> are saying.</h3>
                                <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch.</p>
                                <h4>Selina Lashway</h4>
                            </div><!-- /.testi-content -->
                        </div><!-- /.col-md-7 -->
                    </div><!-- /.row -->
                </div><!-- /.single-testimonial-style-one -->
            </div><!-- /.item -->
        </div><!-- /.testimonials-style-one-carousel -->
    </div><!-- /.thm-container -->
</section><!-- /.testimonials-style-one bg-style-two -->

<div class="brand-section bdt-none">
    <div class="thm-container">
        <div class="brand-carousel owl-carousel owl-theme">
            <div class="item">
                <i class="brands-icon-audiojungle"></i>
            </div><!-- /.item -->
            <div class="item">
                <i class="brands-icon-themeforest"></i>
            </div><!-- /.item -->
            <div class="item">
                <i class="brands-icon-envato"></i>
            </div><!-- /.item -->
            <div class="item">
                <i class="brands-icon-videohive"></i>
            </div><!-- /.item -->
            <div class="item">
                <i class="brands-icon-audiojungle"></i>
            </div><!-- /.item -->
            <div class="item">
                <i class="brands-icon-codecanyon"></i>
            </div><!-- /.item -->
            <div class="item">
                <i class="brands-icon-audiojungle"></i>
            </div><!-- /.item -->
            <div class="item">
                <i class="brands-icon-themeforest"></i>
            </div><!-- /.item -->
            <div class="item">
                <i class="brands-icon-envato"></i>
            </div><!-- /.item -->
            <div class="item">
                <i class="brands-icon-videohive"></i>
            </div><!-- /.item -->
            <div class="item">
                <i class="brands-icon-audiojungle"></i>
            </div><!-- /.item -->
            <div class="item">
                <i class="brands-icon-codecanyon"></i>
            </div><!-- /.item -->
        </div><!-- /.brand-carousel -->
    </div><!-- /.thm-container -->
</div><!-- /.brand-section -->
