
@{
    ViewBag.Title = "faq";
    Layout = "~/Shared/Tanitim_1.cshtml";
}

<div class="inner-banner">
    <div class="thm-container">
        <ul class="breadcumb">
            <li><a href="index.html">Home</a></li>
            <!--
            -->
            <li><span class="sep">-</span></li>
            <!--
            -->
            <li><span class="page-name">FAQ</span></li>
        </ul><!-- /.breadcumb -->
        <h3>FAQ Page</h3>
    </div><!-- /.thm-container -->
</div><!-- /.inner-banner -->

<section class="faq-style-one faq-page">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-faq-style-one">
                    <i class="fa fa-question"></i>
                    <h3>How binmp works?</h3>
                    <p>There are many variations of passages of availab but mjority have suffer alteration in some form by inject humour.</p>
                </div><!-- /.single-faq-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-faq-style-one">
                    <i class="fa fa-question"></i>
                    <h3>Is binmp safe to use?</h3>
                    <p>There are many variations of passages of availab but mjority have suffer alteration in some form by inject humour.</p>
                </div><!-- /.single-faq-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-faq-style-one">
                    <i class="fa fa-question"></i>
                    <h3>Why this app charge us?</h3>
                    <p>There are many variations of passages of availab but mjority have suffer alteration in some form by inject humour.</p>
                </div><!-- /.single-faq-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-faq-style-one">
                    <i class="fa fa-question"></i>
                    <h3>How to install app?</h3>
                    <p>There are many variations of passages of availab but mjority have suffer alteration in some form by inject humour.</p>
                </div><!-- /.single-faq-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-faq-style-one">
                    <i class="fa fa-question"></i>
                    <h3>Is any in app purchase?</h3>
                    <p>There are many variations of passages of availab but mjority have suffer alteration in some form by inject humour.</p>
                </div><!-- /.single-faq-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-faq-style-one">
                    <i class="fa fa-question"></i>
                    <h3>Will i get a free trial period?</h3>
                    <p>There are many variations of passages of availab but mjority have suffer alteration in some form by inject humour.</p>
                </div><!-- /.single-faq-style-one -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.faq-style-one -->
