
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>deneme</title>

</head>
<body>
    <div id="icerik">
        <p>awdawdawdawd</p>
    </div>

    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Panel_CSS/assets/apps/scripts/printThis.js"></script>
    <input type="button" onclick="yazdir()" value="asdas" />
    <script type="text/javascript">
        function yazdir() {

            $("#icerik").printThis();
        }
    </script>
</body>
</html>
