

@model  Web_App_SistemKontroloru.Models.User_Details
@{
    Layout = null;
}

@{
    if (Session["User_Details"] == null)
    {
        <!DOCTYPE html>
        <html lang="en">
        <head runat="server">
            <meta charset="utf-8" />
            <title>Metronic Admin Theme #6 | User Login 4</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta content="width=device-width, initial-scale=1" name="viewport" />
            <meta content="Preview page of Metronic Admin Theme #6 for " name="description" />
            <meta content="" name="author" />
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
            <link href="~/Panel_CSS/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
            <link href="~/Panel_CSS/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
            <link href="~/Panel_CSS/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="~/Panel_CSS/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
            <!-- END GLOBAL MANDATORY STYLES -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link href="~/Panel_CSS/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/Panel_CSS/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN THEME GLOBAL STYLES -->
            <link href="~/Panel_CSS/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
            <link href="~/Panel_CSS/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
            <!-- END THEME GLOBAL STYLES -->
            <!-- BEGIN PAGE LEVEL STYLES -->
            <link href="~/Panel_CSS/assets/pages/css/login-4.min.css" rel="stylesheet" type="text/css" />
            <!-- END PAGE LEVEL STYLES -->
            <!-- BEGIN THEME LAYOUT STYLES -->
            <!-- END THEME LAYOUT STYLES -->
            <link rel="shortcut icon" href="favicon.ico" />
        </head>
        <!-- END HEAD -->

        <body class=" login">

            <!-- BEGIN LOGO -->
            <div class="logo">
                <a href="index.html">
                    <img src="~/Web_CSS/logo/logo.png" alt="" />
                </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN LOGIN -->
            <div class="content">
                <!-- BEGIN LOGIN FORM -->
                <form class="login-form" method="post" id="form1" action="/Panel/GirisIslemi">
                    <h3 class="form-title">Hesap Bilgilerini Gir</h3>
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span>Kullanıcı Adı ve Şifreni Gir.</span>
                    </div>
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9">Kullanıcı Adı</label>
                        <div class="input-icon">
                            <i class="fa fa-user"></i>
                            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Kullanıcı Adı" name="User_Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Şifre</label>
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Şifre" name="User_Pass" />
                        </div>
                    </div>
                    <div class="form-actions">
                        <label class="rememberme mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" name="remember" value="1" />
                            Beni Hatırla
                            <span></span>
                        </label>
                        <button type="submit" id="button_giris" class="btn green pull-right">Giriş</button>
                    </div>
                    <div class="create-account">
                        <p>
                            Henüz bir hesabınız yok mu?&nbsp;
                            <a href="javascript:;" id="register-btn">Hesap Oluştur </a>
                        </p>
                    </div>
                </form>
                <form class="forget-form" action="index.html" method="post">
                    <h3>Şifreni mi Unuttun ?</h3>
                    <p>E-posta adresini gir ve şifre sıfırla. </p>
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="fa fa-envelope"></i>
                            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="E-posta" name="email" />
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" id="back-btn" class="btn red btn-outline">Geri </button>
                        <button type="submit" class="btn green pull-right">Gönder </button>

                    </div>
                </form>
                <form class="register-form" method="post" action="/Panel/Giris" id="uyeFormu">
                    <hidden id="YeniUyeKaydi"></hidden>
                    <h3>Kayıt Ol</h3>
                    <p>Kişisel Bilgilerinizi Giriniz. </p>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Ad:</label>
                        <div class="input-icon">
                            <i class="fa fa-font"></i> <input class="form-control placeholder-no-fix" type="text" placeholder="Ad" name="Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Soyad:</label>
                        <div class="input-icon">
                            <i class="fa fa-font"></i> <input class="form-control placeholder-no-fix" type="text" placeholder="Soyad" name="Surname" /></div> </div>
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9">Email</label>
                        <div class="input-icon">
                            <i class="fa fa-envelope"></i><input class="form-control placeholder-no-fix" type="text" placeholder="E-Posta" name="Email" />  </div>
                    </div>
                    <p>Kullanıcı Bilgilerinizi girin: </p>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Kullanıcı Adı</label>
                        <div class="input-icon"> <i class="fa fa-user"></i>
                            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Kullanıcı Adı" name="User_Name" /></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Şifre</label>
                        <div class="input-icon">
                            <i class="fa fa-lock"></i> <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Şifre" name="User_Pass" />  </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Şifre Onay</label>
                        <div class="controls">
                            <div class="input-icon"> <i class="fa fa-check"></i>
                                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Şifre Onay" name="rpassword" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="mt-checkbox mt-checkbox-outline"> <input type="checkbox" name="Status_" />
                            <a href="javascript:;">Hizmet Şartlarını </a>ve <a href="javascript:;">Gizlilik Politikasını </a>Kabul ediyorum.<span></span>
                        </label>
                        <div id="register_tnc_error"></div>
                    </div>
                    <div class="form-actions">
                        <button id="register-back-btn" type="button" class="btn red btn-outline">Geri </button>
                        <button id="kayit" type="submit" class="btn green pull-right">Kayıt </button>
                    </div>
                </form>
            </div>
            <div class="copyright">2019 &copy; Yasin Karaman - Sistem Kontrolörü. </div>
            <script src="~/Panel_CSS/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
            <script src="~/Panel_CSS/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="~/Panel_CSS/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
            <script src="~/Panel_CSS/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
            <script src="~/Panel_CSS/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
            <script src="~/Panel_CSS/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
            <!-- END CORE PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <script src="~/Panel_CSS/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
            <script src="~/Panel_CSS/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
            <script src="~/Panel_CSS/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
            <script src="~/Panel_CSS/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN THEME GLOBAL SCRIPTS -->
            <script src="~/Panel_CSS/assets/global/scripts/app.min.js" type="text/javascript"></script>
            <!-- END THEME GLOBAL SCRIPTS -->
            <!-- BEGIN PAGE LEVEL SCRIPTS -->
            <script src="~/Panel_CSS/assets/pages/scripts/login-4.min.js" type="text/javascript"></script>
            <!-- END PAGE LEVEL SCRIPTS -->
            <!-- BEGIN THEME LAYOUT SCRIPTS -->
            <!-- END THEME LAYOUT SCRIPTS -->
            <script>
                $(document).ready(function () {
                    $('#clickmewow').click(function () {
                        $('#radio1003').attr('checked', 'checked');
                    });
                })
            </script>
        </body>

    </html>
}
else { Response.Redirect("/Panel"); }
}

