
<html lang="en">

<!-- Mirrored from layerdrops.com/binmp/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Feb 2019 21:30:03 GMT -->
<head>
    <meta charset="UTF-8" />
    <title>Binmp - Responsive HTML 5 template</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../ms-icon-144x144.html">
    <meta name="theme-color" content="#ffffff">

    <!-- revolution slider css -->
    <link href="~/Web_CSS/plugins/revolution/css/settings.css" rel="stylesheet">
    <link href="~/Web_CSS/plugins/revolution/css/layers.css" rel="stylesheet">
    <link href="~/Web_CSS/plugins/revolution/css/navigation.css" rel="stylesheet">


    <link rel="stylesheet" href="~/Web_CSS/css/style.css">
    <link rel="stylesheet" href="~/Web_CSS/css/responsive.css">
</head>
<body>

    <!-- <div class="preloader"><div class="spinner"></div></div>  /.preloader -->



    <header class="header header-home-one">
        <nav class="navbar navbar-default header-navigation stricky">
            <div class="thm-container clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false">
                        <i class="fas fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="~/Web_CSS/img/logo-1-1.png" alt="Awesome Image" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse main-navigation mainmenu " id="main-nav-bar">

                    <ul class="nav navbar-nav navigation-box">
                        <li class="current">
                            <a href="/Home">Anasayfa</a>
                        </li>
                        <li>
                            <a href="/Home/About">Hakkımızda</a>
                        </li>

                        <li>
                            <a href="/Home/faq">FAQ</a>
                        </li>
                        <li>
                            <a href="/Home/contact">İletişim</a>
                        </li>
                        <li>
                            <a href="/Panel/Giris">Giriş</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </header><!-- /.header -->

    @RenderBody()

    <div class="footer-top">
        <div class="thm-container clearfix">
            <div class="logo pull-left">
                <a href="index.html"><img src="~/Web_CSS/img/logo-1-1.png" alt="Awesome Image" /></a>
            </div><!-- /.logo pull-left -->
            <div class="social pull-right">
                <a href="#" class="fab fa-twitter"></a>
                <!--
                -->
                <a href="#" class="fab fa-facebook-f"></a>
                <!--
                -->
                <a href="#" class="fab fa-instagram"></a>
                <!--
                -->
                <a href="#" class="fab fa-google-plus-g"></a>
            </div><!-- /.social pull-right -->
        </div><!-- /.thm-container clearfix -->
    </div><!-- /.footer-top -->
    <div class="footer-bottom text-center">
        <div class="thm-container">
            <p>&copy; copyright 2018 by Layerdrops.com</p>
        </div><!-- /.thm-container -->
    </div><!-- /.footer-bottom -->

    <div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
        <div class="search_box_inner">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>

    <div class="scroll-to-top scroll-to-target" data-target="html"><i class="fa fa-angle-up"></i></div>

    <script src="~/Web_CSS/js/jquery.js"></script>

    <script src="~/Web_CSS/js/bootstrap.min.js"></script>
    <script src="~/Web_CSS/js/bootstrap-select.min.js"></script>
    <script src="~/Web_CSS/js/jquery.validate.min.js"></script>
    <script src="~/Web_CSS/js/owl.carousel.min.js"></script>
    <script src="~/Web_CSS/js/isotope.js"></script>
    <script src="~/Web_CSS/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Web_CSS/js/waypoints.min.js"></script>
    <script src="~/Web_CSS/js/jquery.counterup.min.js"></script>
    <script src="~/Web_CSS/js/wow.min.js"></script>
    <script src="~/Web_CSS/js/jquery.easing.min.js"></script>
    <script src="~/Web_CSS/js/custom.js"></script>
  
   
    <!--Revolution Slider-->
    <script src="~/Web_CSS/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Web_CSS/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Web_CSS/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Web_CSS/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Web_CSS/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Web_CSS/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Web_CSS/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Web_CSS/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Web_CSS/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Web_CSS/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Web_CSS/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Web_CSS/js/main-slider-script.js"></script>

</body>

<!-- Mirrored from layerdrops.com/binmp/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Feb 2019 21:32:16 GMT -->
</html>